<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="style/form-t.css">
    <title>Tournament Registration</title>
</head>

<body>
    <div class="container">
        <div class="bar error"><h2><b>Error:</b> Tournament end date must be after the start date.</h2></div>
        <h1>Tournament Registration</h1>
        <!-- <form class="mb-5" action="/add_tournament" method="post">
            <div class="form-group">
                <label for="tournament-name">Check availablity fo:</label>
                <input type="text" id="tournament-name" name="t-name" placeholder="Example: Indian Premier League" required>
            </div>
            
            <button type="submit">Register</button>
            <button class="back-btn" onclick="window.location.href = '/';">Back</button>
        </form> -->
        <form action="/add_tournament" method="post">
            <div class="form-group">
                <label for="tournament-name">Tournament Name:</label>
                <input type="text" id="tournament-name" name="t-name" placeholder="Example: Indian Premier League" required>
            </div>
            
            <div class="form-group">
                <label for="tournament-type">Tournament Type:</label>
                <select id="tournament-type" name="t-type" required>
                    <option value="">Select Type</option>

                    <% tournament_type.forEach(function(type, i){%>

                    <option value="<%= type.tty_id %>"><%= type.tty_desc %></option>

                    <%}); %>

                </select>
            </div>
            <div class="form-group inline">
                <label class="label-text" for="tournament-start">Start Date:</label>
                <input type="date" id="tournament-start" name="t-start" required>
            </div>
            <div class="form-group inline">
                <label class="label-text" for="tournament-end">End Date:</label>
                <input type="date" id="tournament-end" name="t-end" required>
            </div>
            <div class="form-group">
                <label for="tournament-city">City:</label>
                <select id="tournament-city" name="t-city" required>
                    <option value="">Select Type</option>
                        <% city_temp.forEach(function(city, i){%>
                        <option value="<%= city.city_id %>"><%= city.city_name %></option>
                        <%}); %>
                </select>
            </div>

            <div class="form-group">
                <label for="tournament-teams">No. of Teams:</label>
                <input type="text" id="tournament-teams" name="t-teams" placeholder="Example: 10" required>
            </div>
            <div class="form-group">
                <label for="tournament-logo">Tournament Logo:</label>
                <input type="file" id="tournament-logo" name="tournament-logo">
            </div>
            <div class="form-group">
                <label for="tournament-description">Tournament Description:</label>
                <textarea id="tournament-description" name="tournament-description" placeholder="some description about tournament..." required></textarea>
            </div>
            <!-- <div class="form-group">
                <label for="register-own-tournament">Do you want to register your own tournament?</label>
                <input type="checkbox" id="register-own-tournament" name="register-own-tournament">
            </div> -->
            <button type="submit">Register</button>
            <button class="back-btn" onclick="window.location.href = '/';">Back</button>
        </form>
    </div>
</body>

</html>